#navbar-transition,
[data-nav="true"] {
  background-color: #0da874 !important;
}

.nav-logo {
  filter: brightness(0) invert(1) !important;
  height: 20px !important;
  width: auto !important;
  max-width: none !important;
}

[data-nav="true"] a,
#navbar-transition a,
.navbar-link,
nav a {
  color: rgb(255, 255, 255) !important;
}

[data-nav="true"] a:hover,
#navbar-transition a:hover,
.navbar-link:hover,
nav a:hover {
  color: rgb(238, 238, 238) !important;
}

/* footer[data-testid="footer"] {
  display: none !important;
}

a[href*="mintlify.com"],
a[href*="preview-request"] {
  display: none !important;
} */
